/*-- modern normalize --*/
progress,sub,sup{vertical-align:baseline}*,::after,::before{box-sizing:border-box}html{font-size:62.5%;line-height:1.2;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4}body{font-size:1.6rem;margin:0;font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:ButtonText dotted 1px}:-moz-ui-invalid{box-shadow:none}legend{padding:0}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}img{width:100%;height:auto;user-select:none;}button{color:inherit;}a,button{touch-action: manipulation;}svg{height:100%;width:100%;fill:currentColor;pointer-events:none;}iframe,video{height:100%;width:100%}
/*-- document styles --*/
html {

}
body {
  padding: 0 2rem 2rem 2rem;
  margin: 1rem;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  border: 3px dotted #00CC99;
  color: #333;
}
.label {
  display: block;
  margin: 1rem 0;
}
h1 {
  /*-- font shorthand property: style, variant, weight, size, height, family --*/
  font: small-caps 800 2rem/1.2 'Helvetica Neue', 'Arial', sans-serif;
  margin-top: .67em;
  margin-bottom: .67em;
  color: #777;
}
/*-- Old Layout Method--*/
.grid-item {
  display: inline-block;
  margin: 0;
}
/*-- ----------------
- START GRID STYLES -
--------------------*/
.grid-container {
  border: 3px dashed purple;
  padding: 1em;
/*-- enables grid layout
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;*/
}
.grid-item {
  border: 2px solid red;
  padding: .5em;
  background-color: papayawhip;
}
/*
.grid-container {
  grid-template-areas:
                      "head head head"
                      "feat1 feat2 feat3"
                      "wall blog1 blog1"
                      "wall blog2 blog2"
                      "wall blog3 blog3"
                      "wall blog4 blog4"
                      "close1 close1 close2"
                      "foot foot foot";
}
.one {
  grid-area: head;
}
.two {
  grid-area: feat1;
}
.three {
  grid-area: feat2;
}
.four {
  grid-area: feat3;
}
.five {
  grid-area: wall;
}
.six {
  grid-area: blog1;
}
.seven {
  grid-area: blog2;
}
.eight {
  grid-area: blog3;
}
.nine {
  grid-area: blog4;
}
.ten {
  grid-area: close1;
}
.eleven {
  grid-area: close2;
}
.twelve {
  grid-area: foot;
}*/
